

body{
  background-image: url("https://th.bing.com/th/id/R.216fe99f0f1697aefef6fd036b2269f4?rik=GCqMSJABQ%2flIPg&pid=ImgRaw&r=0");
  background-size: contain;
  opacity: 1;
  background-color: floralwhite;
  margin: 5;
  font-family: 'Times New Roman', Times, serif;
  color: darkolivegreen;
  font-size: x-large;
  text-align: end;
  
}




